{% extends "base.html" %}

{% block content %}
  <h1>Driver Username: {{ driver.username }}</h1>
    <div class="ml-3">
      <p><strong>Name: </strong>{{ driver.first_name }}</p>
      <p><strong>Last name: </strong>{{ driver.last_name }}</p>
      <p><strong>License nr: </strong>{{ driver.license_number }}</p>
    </div>
  <h3>Cars: </h3>
    <div class="ml-3">
      {% for car in driver.cars.all %}
        <p><strong>Model: </strong>{{ car.model }}</p>
        <p><strong>Manufacturer: </strong>{{ car.manufacturer.name }}</p>
      {% empty %}
        <p>No car found.</p>
      {% endfor %}
    </div>
{% endblock %}
