<ul class="sidebar-nav navbar-nav flex-column p-3">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'taxi:index' %}">
      <i class="bi bi-house-door mr-2"></i>Home page
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'taxi:manufacturer-list' %}">
      <i class="bi bi-building mr-2"></i>Manufacturers
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'taxi:car-list' %}">
      <i class="bi bi-car-front mr-2"></i>Cars
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'taxi:driver-list' %}">
      <i class="bi bi-person-badge mr-2"></i>Drivers
    </a>
  </li>
</ul>
